.read-more-text {
    .action-button {
        margin-top: 5px;
        color: #494A4C;
        font-weight: 600;
        display: inline-block;
        text-decoration: underline;
    }
    p, li, span {
        font-size: 14px;
        font-family: 'Lato', sans-serif;
        margin: 0;
    } 
}
