body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.custom-modal .image.content {
  display: flex;
  flex-direction: column !important;
  align-items: center;
}
.custom-modal .description {
  padding-left: 0 !important;
  text-align: center;
}
.custom-modal .description .m-0 {
  margin-bottom: 0;
}
.custom-modal .description h4 {
  margin-bottom: 0;
line-height: 30px;
}